$color-white:#ffffff;
$color-black:#000000;
$color-tertiary-dark:#458ff6;
$color-tertiary-light:#7d7987;
$color-tertiary-average:#233348;
$color-grey-dark:#1f1534;


// variables for different displays 

$large-phone: 600px;
$landscape-tab: 768px;
$laptops: 992px;
$large-laptops:1200px;
$extralarge-laptops:1600px;

