.section {
    display: flex;
    padding: 0 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    

    @include media-query($landscape-tab){
        padding: 0 8rem;  

    }
    @include media-query($laptops){
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        padding: 0 7rem;
    }

    @include media-query($large-laptops){
        padding: 0 10rem;
    }

    @include media-query($extralarge-laptops){
        padding: 0 16rem;
    }

    

    &-about {
        padding-top: 1.8rem;
        // margin-left: 2rem;
        margin-right: 1.2rem;

        @include media-query($large-laptops){
            padding-top: 2rem;
        }

        @include media-query($landscape-tab){
          padding-top: 4rem;
        
    
        }
    
        @include media-query($laptops){
            padding-top: 7rem;
              margin-left: 2rem;
             margin-right: 2.5rem;
        }

        @include media-query($large-laptops) {
            padding-top: 9rem;
            margin-left: 2rem;
           margin-right: 5rem;
        }

        @include media-query($extralarge-laptops){
            padding-top: 11rem;
            margin-left: 3rem;
           margin-right: 7.5rem;
        }

        h1 {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.4rem;
            
            @include media-query($large-phone){
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.6rem;
            }

            @include media-query($landscape-tab){
                font-size: 2.5rem;
                line-height:2.3rem ;
                font-weight: 800;
            }

           @include media-query ($laptops){
            font-size: 2.8rem;
            line-height: 3rem;

           }
           @include media-query($large-laptops){
            font-size: 3.2rem;
            line-height: 3.8rem;
           }
           @include media-query($extralarge-laptops){
            font-size: 3.8rem;
            line-height: 5.6rem;
           }
            
        }

        p {
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 2rem;
            color: $color-tertiary-light;
            margin-top: 1.2rem;
            
            @include media-query($large-phone){
                margin-top: 1.3rem;
                
                line-height: 2.2rem;
            }

            @include media-query($landscape-tab){
                margin-top: 1.5rem;
            font-size: 1.6rem ;
            line-height: 2.5rem;
            }

            @include media-query($laptops){
                margin-top:1.3rem ;
                font-size:1.6rem ;
                line-height: 2rem;
            }

            @include media-query($large-laptops){
                margin-top: 1.8rem;
                line-height: 2.5rem;
                font-size: 1.9rem;
            }

            @include media-query($extralarge-laptops){
                margin-top: 2.2rem;
                font-size: 2.1rem;
                line-height: 3.2rem;
            }
        }

        button {
            cursor: pointer;
            font-weight: 300;
            font-size: 1.3rem;
            width: 11rem;
            height: 3rem;
            border-radius: 10rem;
            background-color: $color-tertiary-dark;
            color: $color-white;
            border: none;
            margin-top: 1.4rem;
            margin-bottom: 1.8;
           
            @include media-query($large-phone){
                font-weight: 300;
                font-size: 1.2rem;
                width: 12rem;
                height: 3rem;
                margin-bottom: 2rem;
            }


            @include media-query($landscape-tab){
                font-weight: 400;
                font-size: 1.2rem;
                width: 12rem;
                height: 3rem;
                margin-bottom: 2rem;
                margin-top: 2rem;

            }

            @include media-query($laptops){
                margin-top: 2rem;
                width: 14rem ;
                height: 3rem;
                font-size: 1.3rem;
                font-weight: 500;
                margin-bottom: none;
            }

            @include media-query($large-laptops){
                margin-top: 3rem;
                width: 18rem;
                font-weight: 600;
            height: 5rem;
            font-size: 1.8rem;
                
            }
            @include media-query($extralarge-laptops){
                margin-top: 4.5rem;
                width: 20rem;
                height: 6rem;
                font-weight: 700;
            }

        }
    }

    &__image {

        img {
            width: 29rem;
            height: 25rem;
            
            @include media-query($large-phone){
                width: 31rem;
                height: 28rem;
            }

            @include media-query($landscape-tab){
                width: 35rem;
                height: 30rem;
            } 

            @include media-query($laptops){
                width: 43rem;
                height: 38rem;
            }

            @include media-query($large-laptops){
                width:60rem;
                height: 52rem;
            }

            @include media-query($extralarge-laptops){
                width: 69rem;
                height: 59rem;
    
            }
        }
    }

}


// our services

.services {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin-top: 9rem;
    position: relative;
    // margin: 0 0 !important;

   @include media-query($landscape-tab){
    margin-top: 10rem;
   }

   @include media-query($large-laptops){
    margin-top: 15rem;
   }

    &__firstrow{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__header {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
        color: $color-black;
        // padding-bottom:;


        @include media-query($laptops){
            line-height: 2.5rem;
            font-size: 3rem;
        }

        @include media-query($large-laptops){
            line-height: 5.5rem;
            font-size: 3.6rem;
        }


    }



    &__underline {
        border: 2px solid black;
        width: 5.6rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;


        @include media-query($laptops){
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        @include media-query($large-laptops){
            margin-top: 2.6rem;
        margin-bottom: 2.6rem;
        }

    }

    &__details {
        font-size: 1.5rem;
        line-height: 3rem;
        font-weight: 300;
        color: $color-tertiary-light;
        padding: 0 3rem;
        
        text-align: center;
        // @include media-query($landscape-tab){
        //     width: 95rem;
        //     padding: 0;
            
        // }
        // @include media-query($laptops){
        //     width: auto;
        // }

        @include media-query($landscape-tab){
            font-size: 1.8rem;
        }

        @include media-query($large-laptops){
            width: 95rem;
        }
    }

    // services types

    &__types {

        display: grid;
        grid-template-columns: auto;

        justify-content: center;
        place-items: center;
        grid-gap: 3.4rem 3.7rem;
        width: 100%;
        height: auto;
        margin-top: 4rem;

        @include media-query($landscape-tab){
            grid-template-columns: auto auto;
            grid-gap: 3rem 3.3rem;
            margin-top: 8rem;
        }

        @include media-query($laptops){
            grid-template-columns: auto auto auto;
            grid-gap: 3.4rem 3.7rem;
        }
      
       
        


       

    }

    &__overlays {
       
        background-image: url("../../img/bgOverlay.png");
        background-repeat: no-repeat;
        
         }

    

    &__info {
        // position: relative;
        width: 27rem;
        height: 25rem;
        border-radius: 2rem;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        padding-left: 3.9rem;
        padding-right: 4.5rem;
        background-color: $color-white;
        // opacity: 1;

        @include media-query($laptops){
            width: 30rem;
            height: 28rem;
        }

        @include media-query($large-laptops){
            width: 35rem;
            height: 35rem;
        }
       



        &-fig img {
            margin-top: 2.5rem;
            margin-bottom: 1.5rem;
                width: 4.2rem;
                height: 4rem;
            
            @include media-query($laptops){
                margin-top: 2.5rem;
            margin-bottom: 1.5rem;
                width: 5.2rem;
                height: 6rem;
            }

            @include media-query($large-laptops){
                margin-top: 5.5rem;
            margin-bottom: 3rem;
                width: 9.2rem;
                height: 9rem;
            }
        }

        &-header {
            font-size: 1.8rem;
            line-height: 3.1rem;
            font-weight: 600;
            color: $color-black;

            @include media-query($laptops){
                font-size: 2rem;
                line-height: 3.6rem;
                font-weight: 600;
            }

            @include media-query($large-laptops){
                font-size: 2.4rem;
                line-height: 5.6rem;
                font-weight: 700;
            }

            

        }

        &-about {
            font-weight: 200;
            font-size: 1.5rem;
            line-height: 2.4rem;
            color: $color-tertiary-light;

            @include media-query($laptops){
                font-size: 1.4rem;
                line-height: 2.4rem;
            }

            @include media-query($large-laptops){
                font-size: 1.6rem;
                line-height: 2.8rem;
            }
        }

    }


}


.healthcare{
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    grid-column-gap:7rem ;
    margin-top: 10rem;
    padding-left:5rem ;
    padding-right: 3rem;
    

    @include media-query($landscape-tab){
        margin-top: 8rem;
        padding-left: 8rem;
        padding-right: 7rem;
    }

    @include media-query($laptops){
        grid-template-columns: auto auto;
    }
    @include media-query($large-laptops){
        grid-column-gap:7rem;
        margin-top: 22rem;

        padding-left:10rem;
        padding-right:9rem;
    }

    @include media-query($extralarge-laptops){
        grid-column-gap:14.2rem ;
        margin-top: 34.7rem;
        padding-left:13.5rem ;
        padding-right: 19.2rem;
    }
   

    &__image{
        width: 30rem;
        height: 20rem;
        background: url("../../img/healthcare.png");
        background-repeat: no-repeat;
        background-size: contain;

        @include media-query($landscape-tab){
            width: 40rem;
            height: 32rem;

        }
        @include media-query($laptops){
            width: 45rem;
        height: 37rem;
        }
        
        @include media-query($large-laptops){
            width: 55rem;
        height: 42rem;

        }
        @include media-query($extralarge-laptops){
            width: 65rem;
            height: 47.7rem;
        }
    }


    &__about{
       
        

        &-header{
            // width: 48.1rem;
            font-size: 2.5rem;
            font-weight: 600;
            color: $color-black;
            line-height: 3rem;

            @include media-query($landscape-tab){
                font-size: 2.5rem;
                line-height: 3rem;
               
            }

            @include media-query($laptops){
                font-size: 3rem;
           
            color: $color-black;
            line-height: 4rem;
            }

            @include media-query($large-laptops){
                font-size: 3.6rem;
            font-weight: 700;
            color: $color-black;
            line-height: 5.6rem;
            }
        }

        &-underline{
            border: 2px solid black;
            width: 4rem;
            margin-top: 1.4rem;
            margin-bottom: 1.4rem;

            @include media-query($landscape-tab){
                width: 4rem;
                margin-top: 1.4rem;
                margin-bottom: 1.4rem;
            }

            @include media-query($laptops){
                width: 4.5rem;
                margin-top: 1.8rem;
                margin-bottom: 1.8rem;
            }
            @include media-query($large-laptops){
                width: 5.6rem;
                margin-top: 2.6rem;
                margin-bottom: 2.6rem;
            }
            
        }

        &-detail{
            font-weight: 200;
            font-size: 1.6rem;
            line-height:2.5rem;
            color: $color-tertiary-light;
            
            @include media-query($laptops){
                font-size: 1.6rem;
                line-height: 2.5rem;
                font-weight: 200;
            }

            @include media-query($large-laptops){
                font-weight: 300;
                font-size: 1.8rem;
                line-height:3rem;
            }

        }
        &-button{
            
            margin-top: 3rem;
            width: 18rem;
            height: 5rem;
            font-weight: 600;
            font-size: 1.8rem;
            color: $color-tertiary-dark;
            border-radius: 5.5rem;
            background-color: $color-white;
            border: 0.14rem solid $color-tertiary-dark;

            @include media-query($large-phone){
                font-weight: 300;
                font-size: 1.2rem;
                width: 12rem;
                height: 3rem;
                margin-bottom: 2rem;
            }


            @include media-query($landscape-tab){
                font-weight: 400;
                font-size: 1.2rem;
                width: 12rem;
                height: 3rem;
                margin-bottom: 2rem;
                margin-top: 2rem;

            }

            @include media-query($laptops){
                margin-top: 2rem;
                width: 14rem ;
                height: 3rem;
                font-size: 1.3rem;
                font-weight: 500;
                margin-bottom: none;
            }


            @include media-query($large-laptops){
                margin-top: 3rem;
                width: 18rem;
                font-weight: 600;
            height: 5rem;
            font-size: 1.8rem;
                
            }
            @include media-query($extralarge-laptops){
                margin-top: 4.5rem;
                width: 20rem;
                height: 6rem;
                font-weight: 700;
            }

        }
    }
}